{% extends 'index.html' %}
{% block title %}Page Not Found{% endblock %}
{% block content %}
<div class="container-fluid" style="margin-top: 1rem;">
    <div class="row">
        <div class="col-md-6" style="margin: 0 auto;">
            <img src="https://raw.githubusercontent.com/janmisek/ember-error-handler/master/github/error-prod.png" class="img-fluid">     
        </div>
    </div>
    <div class="row" style="margin-bottom: 1rem;">
        <a href="{% url 'index' %}" class="btn btn-primary" style="margin: 0 auto;display: block;">Home</a>
    </div>
</div>
{% endblock %}